In [1]:
import pandas as pd
import json

# Read raw JSON
with open('users.json', 'r') as f:
    raw_data = f.read().strip().splitlines()

# Parse each JSON object
data = [json.loads(line) for line in raw_data]

# Convert to DataFrame
users_df = pd.json_normalize(data)

print(users_df.head())

   active      role signUpSource state                  _id.$oid  \
0    True  consumer        Email    WI  5ff1e194b6a9d73a3a9f1052
1    True  consumer        Email    WI  5ff1e194b6a9d73a3a9f1052
2    True  consumer        Email    WI  5ff1e194b6a9d73a3a9f1052
3    True  consumer        Email    WI  5ff1e1eacfcf6c399c274ae6
4    True  consumer        Email    WI  5ff1e194b6a9d73a3a9f1052

   createdDate.$date  lastLogin.$date
0      1609687444800     1.609688e+12
1      1609687444800     1.609688e+12
2      1609687444800     1.609688e+12
3      1609687530554     1.609688e+12
4      1609687444800     1.609688e+12

In [2]:
# Read raw JSON
with open('brands.json', 'r') as f:
    raw_data = f.read().strip().splitlines()

# Parse each JSON object
data = [json.loads(line) for line in raw_data]

# Convert to DataFrame
brands_df = pd.json_normalize(data)

print(brands_df.head())

        barcode        category      categoryCode                       name  \
0  511111019862          Baking            BAKING  test brand @1612366101024
1  511111519928       Beverages         BEVERAGES                  Starbucks
2  511111819905          Baking            BAKING  test brand @1612366146176
3  511111519874          Baking            BAKING  test brand @1612366146051
4  511111319917  Candy & Sweets  CANDY_AND_SWEETS  test brand @1612366146827

  topBrand                  _id.$oid              cpg.$id.$oid cpg.$ref  \
0    False  601ac115be37ce2ead437551  601ac114be37ce2ead437550     Cogs
1    False  601c5460be37ce2ead43755f  5332f5fbe4b03c9a25efd0ba     Cogs
2    False  601ac142be37ce2ead43755d  601ac142be37ce2ead437559     Cogs
3    False  601ac142be37ce2ead43755a  601ac142be37ce2ead437559     Cogs
4    False  601ac142be37ce2ead43755e  5332fa12e4b03c9a25efd1e7     Cogs

                       brandCode
0                            NaN
1                      STARBUCKS
2  TEST BRANDCODE @1612366146176
3  TEST BRANDCODE @1612366146051
4  TEST BRANDCODE @1612366146827

In [3]:
# Read raw JSON
with open('receipts.json', 'r') as f:
    raw_data = f.read().strip().splitlines()

# Parse each JSON object
data = [json.loads(line) for line in raw_data]

# Convert to DataFrame
receipts_df = pd.json_normalize(data)

print(receipts_df.head())

   bonusPointsEarned                            bonusPointsEarnedReason  \
0              500.0  Receipt number 2 completed, bonus point schedu...
1              150.0  Receipt number 5 completed, bonus point schedu...
2                5.0                         All-receipts receipt bonus
3                5.0                         All-receipts receipt bonus
4                5.0                         All-receipts receipt bonus

  pointsEarned  purchasedItemCount  \
0        500.0                 5.0
1        150.0                 2.0
2            5                 1.0
3          5.0                 4.0
4          5.0                 2.0

                              rewardsReceiptItemList rewardsReceiptStatus  \
0  [{'barcode': '4011', 'description': 'ITEM NOT ...             FINISHED
1  [{'barcode': '4011', 'description': 'ITEM NOT ...             FINISHED
2  [{'needsFetchReview': False, 'partnerItemId': ...             REJECTED
3  [{'barcode': '4011', 'description': 'ITEM NOT ...             FINISHED
4  [{'barcode': '4011', 'description': 'ITEM NOT ...             FINISHED

  totalSpent                    userId                  _id.$oid  \
0      26.00  5ff1e1eacfcf6c399c274ae6  5ff1e1eb0a720f0523000575
1      11.00  5ff1e194b6a9d73a3a9f1052  5ff1e1bb0a720f052300056b
2      10.00  5ff1e1f1cfcf6c399c274b0b  5ff1e1f10a720f052300057a
3      28.00  5ff1e1eacfcf6c399c274ae6  5ff1e1ee0a7214ada100056f
4       1.00  5ff1e194b6a9d73a3a9f1052  5ff1e1d20a7214ada1000561

   createDate.$date  dateScanned.$date  finishedDate.$date  modifyDate.$date  \
0     1609687531000      1609687531000        1.609688e+12     1609687536000
1     1609687483000      1609687483000        1.609687e+12     1609687488000
2     1609687537000      1609687537000                 NaN     1609687542000
3     1609687534000      1609687534000        1.609688e+12     1609687539000
4     1609687506000      1609687506000        1.609688e+12     1609687511000

   pointsAwardedDate.$date  purchaseDate.$date
0             1.609688e+12        1.609632e+12
1             1.609687e+12        1.609601e+12
2                      NaN        1.609632e+12
3             1.609688e+12        1.609632e+12
4             1.609688e+12        1.609601e+12

In [4]:
print(brands_df.info())
print(receipts_df.info())
print(users_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   barcode       1167 non-null   object
 1   category      1012 non-null   object
 2   categoryCode  517 non-null    object
 3   name          1167 non-null   object
 4   topBrand      555 non-null    object
 5   _id.$oid      1167 non-null   object
 6   cpg.$id.$oid  1167 non-null   object
 7   cpg.$ref      1167 non-null   object
 8   brandCode     933 non-null    object
dtypes: object(9)
memory usage: 82.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   bonusPointsEarned        544 non-null    float64
 1   bonusPointsEarnedReason  544 non-null    object
 2   pointsEarned             609 non-null    object
 3   purchasedItemCount       635 non-null    float64
 4   rewardsReceiptItemList   679 non-null    object
 5   rewardsReceiptStatus     1119 non-null   object
 6   totalSpent               684 non-null    object
 7   userId                   1119 non-null   object
 8   _id.$oid                 1119 non-null   object
 9   createDate.$date         1119 non-null   int64
 10  dateScanned.$date        1119 non-null   int64
 11  finishedDate.$date       568 non-null    float64
 12  modifyDate.$date         1119 non-null   int64
 13  pointsAwardedDate.$date  537 non-null    float64
 14  purchaseDate.$date       671 non-null    float64
dtypes: float64(5), int64(3), object(7)
memory usage: 131.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   active             495 non-null    bool
 1   role               495 non-null    object
 2   signUpSource       447 non-null    object
 3   state              439 non-null    object
 4   _id.$oid           495 non-null    object
 5   createdDate.$date  495 non-null    int64
 6   lastLogin.$date    433 non-null    float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 23.8+ KB
None

In [5]:
def clean_users(users_df):
    # convert the date columns to datetime for users_df
    users_df['created_date'] = pd.to_datetime(users_df['createdDate.$date'])
    users_df['last_login'] = pd.to_datetime(users_df['lastLogin.$date'])

    # Rename columns
    users_df = users_df.rename(columns={
        '_id.$oid': 'user_id',
        'active': 'active',
        'role': 'role',
        'signUpSource': 'sign_up_source'
    })
    # Drop columns
    users_df = users_df.drop(columns=['createdDate.$date', 'lastLogin.$date']).drop_duplicates().reset_index(drop=True)

    return users_df

In [6]:
users_df_cleaned = clean_users(users_df)
print(users_df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   active          212 non-null    bool
 1   role            212 non-null    object
 2   sign_up_source  207 non-null    object
 3   state           206 non-null    object
 4   user_id         212 non-null    object
 5   created_date    212 non-null    datetime64[ns]
 6   last_login      172 non-null    datetime64[ns]
dtypes: bool(1), datetime64[ns](2), object(4)
memory usage: 10.3+ KB
None

In [7]:
def create_cpg_df(brands_df):
    # creata new dataframe with cpg id and cpg reference
    cpg_df = brands_df[['cpg.$id.$oid', 'cpg.$ref']].drop_duplicates().reset_index(drop=True)
    cpg_df = cpg_df.rename(columns={'cpg.$id.$oid': 'cpg_id', 'cpg.$ref': 'cpg_reference'})
    return cpg_df

cpg_df = create_cpg_df(brands_df)
print(cpg_df.head())
print(cpg_df.info())

                     cpg_id cpg_reference
0  601ac114be37ce2ead437550          Cogs
1  5332f5fbe4b03c9a25efd0ba          Cogs
2  601ac142be37ce2ead437559          Cogs
3  5332fa12e4b03c9a25efd1e7          Cogs
4  559c2234e4b06aca36af13c6          Cogs
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cpg_id         204 non-null    object
 1   cpg_reference  204 non-null    object
dtypes: object(2)
memory usage: 3.3+ KB
None

In [8]:
def create_category_df(brands_df):
    # create new dataframe with category id and category
    category_df = brands_df[['category', 'categoryCode', 'cpg.$id.$oid']].drop_duplicates().reset_index(drop=True)
    category_df = category_df.rename(columns={'cpg.$id.$oid': 'cpg_id', 'category': 'category_name', 'categoryCode': 'category_code'})
    
    return category_df

category_df = create_category_df(brands_df)
print(category_df.head())
print(category_df.info())

         category_name     category_code                    cpg_id
0               Baking            BAKING  601ac114be37ce2ead437550
1            Beverages         BEVERAGES  5332f5fbe4b03c9a25efd0ba
2               Baking            BAKING  601ac142be37ce2ead437559
3       Candy & Sweets  CANDY_AND_SWEETS  5332fa12e4b03c9a25efd1e7
4  Condiments & Sauces               NaN  559c2234e4b06aca36af13c6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_name  232 non-null    object
 1   category_code  167 non-null    object
 2   cpg_id         259 non-null    object
dtypes: object(3)
memory usage: 6.2+ KB
None

In [9]:
def clean_brands(brands_df):
    # Rename columns
    brands_df = brands_df.rename(columns={
        '_id.$oid': 'brand_uuid',
        'barcode': 'barcode',
        'brandCode': 'brand_code',
        'name': 'brand_name',
        'categoryCode': 'category_code',
        'topBrand': 'top_brand',
    })
    # Drop columns
    brands_df = brands_df.drop(columns=['cpg.$id.$oid', 'cpg.$ref', 'category']).drop_duplicates().reset_index(drop=True)

    return brands_df

brands_df_cleaned = clean_brands(brands_df)
print(brands_df_cleaned.head())
print(brands_df_cleaned.info())

        barcode     category_code                 brand_name top_brand  \
0  511111019862            BAKING  test brand @1612366101024     False
1  511111519928         BEVERAGES                  Starbucks     False
2  511111819905            BAKING  test brand @1612366146176     False
3  511111519874            BAKING  test brand @1612366146051     False
4  511111319917  CANDY_AND_SWEETS  test brand @1612366146827     False

                 brand_uuid                     brand_code
0  601ac115be37ce2ead437551                            NaN
1  601c5460be37ce2ead43755f                      STARBUCKS
2  601ac142be37ce2ead43755d  TEST BRANDCODE @1612366146176
3  601ac142be37ce2ead43755a  TEST BRANDCODE @1612366146051
4  601ac142be37ce2ead43755e  TEST BRANDCODE @1612366146827
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   barcode        1167 non-null   object
 1   category_code  517 non-null    object
 2   brand_name     1167 non-null   object
 3   top_brand      555 non-null    object
 4   brand_uuid     1167 non-null   object
 5   brand_code     933 non-null    object
dtypes: object(6)
memory usage: 54.8+ KB
None

In [10]:
def create_products_table(receipts_df, brands_df):
    # create new dataframe with barcode of receipts as product id, description,
    # metabrite_campaign_id, partner_item_id, rewards_group, rewards_product_partner_id,
    # item_price, competitive_product, competitor_rewards_group and brand_id
    products_df = receipts_df[['rewardsReceiptItemList']].explode('rewardsReceiptItemList')
    products_df = products_df.dropna(subset=['rewardsReceiptItemList']).reset_index(drop=True)
    products_df = products_df.rename(columns={'rewardsReceiptItemList': 'product'})
    products_df = pd.json_normalize(products_df['product'])
    products_df = products_df.rename(columns={
        'barcode': 'product_id',
        'description': 'description',
        'itemPrice': 'product_price',
        'metabriteCampaignId': 'metabrite_campaign_id',
        'rewardsGroup': 'rewards_group',
        'rewardsProductPartnerId': 'rewards_product_partner_id',
        'brandCode': 'brand_code',
        'originalMetaBriteItemPrice': 'original_metabrite_item_price',
        'originalMetaBriteBarcode': 'original_metabrite_barcode',
        'originalMetaBriteDescription': 'original_metabrite_description',
        'competitorRewardsGroup': 'competitor_rewards_group',
        'competitiveProduct': 'competitive_product',
    })
    # merge with brands_df to get brand_id and drop brand_code
    products_df = products_df.merge(brands_df, on='brand_code', how='left')
    # select columns
    products_df = products_df[['product_id',
                               'brand_uuid',
                                'description',
                                'metabrite_campaign_id',
                                'original_metabrite_barcode',
                                'original_metabrite_description',
                                'original_metabrite_item_price',
                                'rewards_group',
                                'rewards_product_partner_id',
                                'product_price',
                                'competitive_product',
                                'competitor_rewards_group'
                                ]].drop_duplicates().reset_index(drop=True)
    return products_df

products_df = create_products_table(receipts_df, brands_df_cleaned)
print(products_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429545 entries, 0 to 429544
Data columns (total 12 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   product_id                      82694 non-null   object
 1   brand_uuid                      428844 non-null  object
 2   description                     414101 non-null  object
 3   metabrite_campaign_id           525 non-null     object
 4   original_metabrite_barcode      11232 non-null   object
 5   original_metabrite_description  468 non-null     object
 6   original_metabrite_item_price   468 non-null     object
 7   rewards_group                   43868 non-null   object
 8   rewards_product_partner_id      59397 non-null   object
 9   product_price                   429077 non-null  object
 10  competitive_product             14399 non-null   object
 11  competitor_rewards_group        92 non-null      object
dtypes: object(12)
memory usage: 39.3+ MB
None

In [14]:
def create_receipts_table(receipts_df):
    receipts_df = receipts_df.rename(columns={
        '_id.$oid': 'receipt_uuid',
        'bonusPointsEarned': 'bonus_points_earned',
        'bonusPointsEarnedReason': 'bonus_points_reason',
        'createDate.$date': 'create_date',
        'dateScanned.$date': 'date_scanned',
        'finishedDate.$date': 'finished_date',
        'modifyDate.$date': 'modify_date',
        'pointsAwardedDate.$date': 'points_awarded_date',
        'pointsEarned': 'points_earned',
        'purchaseDate.$date': 'purchase_date',
        'purchasedItemCount': 'purchased_item_count',
        'rewardsReceiptStatus': 'rewards_receipt_status',
        'rewardsReceiptStatusReason': 'rewards_receipt_status_reason',
        'totalSpent': 'total_spent',
        'userId.$oid': 'user_id'
    })
    receipts_df['create_date'] = pd.to_datetime(receipts_df['create_date'])
    receipts_df['date_scanned'] = pd.to_datetime(receipts_df['date_scanned'])
    receipts_df['finished_date'] = pd.to_datetime(receipts_df['finished_date'])
    receipts_df['modify_date'] = pd.to_datetime(receipts_df['modify_date'])
    receipts_df['points_awarded_date'] = pd.to_datetime(receipts_df['points_awarded_date'])
    receipts_df['purchase_date'] = pd.to_datetime(receipts_df['purchase_date'])
    receipts_df = receipts_df.drop(columns=['rewardsReceiptItemList']).drop_duplicates().reset_index(drop=True)
    return receipts_df

receipts_df_cleaned = create_receipts_table(receipts_df)
print(receipts_df_cleaned.info())
print(receipts_df_cleaned.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   bonus_points_earned     544 non-null    float64
 1   bonus_points_reason     544 non-null    object
 2   points_earned           609 non-null    object
 3   purchased_item_count    635 non-null    float64
 4   rewards_receipt_status  1119 non-null   object
 5   total_spent             684 non-null    object
 6   userId                  1119 non-null   object
 7   receipt_uuid            1119 non-null   object
 8   create_date             1119 non-null   datetime64[ns]
 9   date_scanned            1119 non-null   datetime64[ns]
 10  finished_date           568 non-null    datetime64[ns]
 11  modify_date             1119 non-null   datetime64[ns]
 12  points_awarded_date     537 non-null    datetime64[ns]
 13  purchase_date           671 non-null    datetime64[ns]
dtypes: datetime64[ns](6), float64(2), object(6)
memory usage: 122.5+ KB
None
   bonus_points_earned                                bonus_points_reason  \
0                500.0  Receipt number 2 completed, bonus point schedu...
1                150.0  Receipt number 5 completed, bonus point schedu...
2                  5.0                         All-receipts receipt bonus
3                  5.0                         All-receipts receipt bonus
4                  5.0                         All-receipts receipt bonus

  points_earned  purchased_item_count rewards_receipt_status total_spent  \
0         500.0                   5.0               FINISHED       26.00
1         150.0                   2.0               FINISHED       11.00
2             5                   1.0               REJECTED       10.00
3           5.0                   4.0               FINISHED       28.00
4           5.0                   2.0               FINISHED        1.00

                     userId              receipt_uuid  \
0  5ff1e1eacfcf6c399c274ae6  5ff1e1eb0a720f0523000575
1  5ff1e194b6a9d73a3a9f1052  5ff1e1bb0a720f052300056b
2  5ff1e1f1cfcf6c399c274b0b  5ff1e1f10a720f052300057a
3  5ff1e1eacfcf6c399c274ae6  5ff1e1ee0a7214ada100056f
4  5ff1e194b6a9d73a3a9f1052  5ff1e1d20a7214ada1000561

                 create_date               date_scanned  \
0 1970-01-01 00:26:49.687531 1970-01-01 00:26:49.687531
1 1970-01-01 00:26:49.687483 1970-01-01 00:26:49.687483
2 1970-01-01 00:26:49.687537 1970-01-01 00:26:49.687537
3 1970-01-01 00:26:49.687534 1970-01-01 00:26:49.687534
4 1970-01-01 00:26:49.687506 1970-01-01 00:26:49.687506

               finished_date                modify_date  \
0 1970-01-01 00:26:49.687531 1970-01-01 00:26:49.687536
1 1970-01-01 00:26:49.687483 1970-01-01 00:26:49.687488
2                        NaT 1970-01-01 00:26:49.687542
3 1970-01-01 00:26:49.687534 1970-01-01 00:26:49.687539
4 1970-01-01 00:26:49.687511 1970-01-01 00:26:49.687511

         points_awarded_date              purchase_date
0 1970-01-01 00:26:49.687531 1970-01-01 00:26:49.632000
1 1970-01-01 00:26:49.687483 1970-01-01 00:26:49.601083
2                        NaT 1970-01-01 00:26:49.632000
3 1970-01-01 00:26:49.687534 1970-01-01 00:26:49.632000
4 1970-01-01 00:26:49.687506 1970-01-01 00:26:49.601106

In [55]:
import ast
def create_receipt_items_table(receipts_df):
    with open('receipts.json', 'r') as f:
        raw_data = f.read().strip()
    # Convert to JSON Lines (each line is a valid JSON object)
    json_objects = [json.loads(line) for line in raw_data.strip().split("\n") if "rewardsReceiptItemList" in line] 
    print(json_objects[0])

    # Normalize the nested `rewardsReceiptItemList`
    receipt_items_df = pd.json_normalize(
        json_objects,
        record_path=["rewardsReceiptItemList"],  # Flatten this field
        meta=["_id"],  # Keep these at the top level
    )
    # replace null barcode with itemNumber and drop itemNumber
    receipt_items_df['barcode'] = receipt_items_df['barcode'].fillna(receipt_items_df['itemNumber'])
    receipt_items_df["receipt_id"] = receipt_items_df["_id"].apply(lambda x: x["$oid"])
    # rename all camelCase columns to snake_case
    receipt_items_df = receipt_items_df.rename(columns={
        'barcode': 'product_id',
        'finalPrice': 'final_price',
        'needsFetchReview': 'needs_fetch_review',
        'partnerItemId': 'partner_item_id',
        'preventTargetGapPoints': 'prevent_target_gap_points',
        'quantityPurchased': 'quantity_purchased',
        'userFlaggedBarcode': 'user_flagged_barcode',
        'userFlaggedNewItem': 'user_flagged_new_item',
        'userFlaggedPrice': 'user_flagged_price',
        'userFlaggedQuantity': 'user_flagged_quantity',
        'needsFetchReviewReason': 'needs_fetch_review_reason',
        'pointsNotAwardedReason': 'points_not_awarded_reason',
        'userFlaggedDescription': 'user_flagged_description',
        'pointsPayerId': 'points_payer_id',
        'rewardsGroup': 'rewards_group',
        'rewardsProductPartnerId': 'rewards_product_partner_id',
        'discountedItemPrice': 'discounted_item_price',
        'originalReceiptItemText': 'original_receipt_item_text',
        'originalMetaBriteQuantityPurchased': 'original_metabrite_quantity_purchased',
        'pointsEarned': 'points_earned',
        'targetPrice': 'target_price',
        'originalFinalPrice': 'original_final_price',
        'priceAfterCoupon': 'price_after_coupon'
    })
    # select columns all those renamed earlier
    receipt_items_df = receipt_items_df[[
        'receipt_id',
        'product_id',
        'final_price',
        'needs_fetch_review',
        'partner_item_id',
        'prevent_target_gap_points',
        'quantity_purchased',
        'user_flagged_barcode',
        'user_flagged_new_item',
        'user_flagged_price',
        'user_flagged_quantity',
        'needs_fetch_review_reason',
        'points_not_awarded_reason',
        'points_payer_id',
        'rewards_group',
        'user_flagged_description',
        'rewards_product_partner_id',
        'discounted_item_price',
        'original_receipt_item_text',
        'original_metabrite_quantity_purchased',
        'points_earned',
        'target_price',
        'original_final_price',
        'price_after_coupon'
    ]].drop_duplicates().reset_index(drop=True)
    return receipt_items_df

receipt_items_df = create_receipt_items_table(receipts_df)

{'_id': {'$oid': '5ff1e1eb0a720f0523000575'}, 'bonusPointsEarned': 500, 'bonusPointsEarnedReason': 'Receipt number 2 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', 'createDate': {'$date': 1609687531000}, 'dateScanned': {'$date': 1609687531000}, 'finishedDate': {'$date': 1609687531000}, 'modifyDate': {'$date': 1609687536000}, 'pointsAwardedDate': {'$date': 1609687531000}, 'pointsEarned': '500.0', 'purchaseDate': {'$date': 1609632000000}, 'purchasedItemCount': 5, 'rewardsReceiptItemList': [{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '26.00', 'itemPrice': '26.00', 'needsFetchReview': False, 'partnerItemId': '1', 'preventTargetGapPoints': True, 'quantityPurchased': 5, 'userFlaggedBarcode': '4011', 'userFlaggedNewItem': True, 'userFlaggedPrice': '26.00', 'userFlaggedQuantity': 5}], 'rewardsReceiptStatus': 'FINISHED', 'totalSpent': '26.00', 'userId': '5ff1e1eacfcf6c399c274ae6'}

In [56]:
print(receipt_items_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6941 entries, 0 to 6940
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   receipt_id                             6941 non-null   object
 1   product_id                             3090 non-null   object
 2   final_price                            6767 non-null   object
 3   needs_fetch_review                     813 non-null    object
 4   partner_item_id                        6941 non-null   object
 5   prevent_target_gap_points              358 non-null    object
 6   quantity_purchased                     6767 non-null   float64
 7   user_flagged_barcode                   337 non-null    object
 8   user_flagged_new_item                  323 non-null    object
 9   user_flagged_price                     299 non-null    object
 10  user_flagged_quantity                  299 non-null    float64
 11  needs_fetch_review_reason              219 non-null    object
 12  points_not_awarded_reason              340 non-null    object
 13  points_payer_id                        1267 non-null   object
 14  rewards_group                          1731 non-null   object
 15  user_flagged_description               205 non-null    object
 16  rewards_product_partner_id             2269 non-null   object
 17  discounted_item_price                  5769 non-null   object
 18  original_receipt_item_text             5760 non-null   object
 19  original_metabrite_quantity_purchased  15 non-null     float64
 20  points_earned                          927 non-null    object
 21  target_price                           378 non-null    object
 22  original_final_price                   9 non-null      object
 23  price_after_coupon                     956 non-null    object
dtypes: float64(3), object(21)
memory usage: 1.3+ MB
None

In [23]:
print(users_df.head())

   index  active      role sign_up_source state                   user_id  \
0      0    True  consumer          Email    WI  5ff1e194b6a9d73a3a9f1052
1      3    True  consumer          Email    WI  5ff1e1eacfcf6c399c274ae6
2      6    True  consumer          Email    WI  5ff1e1e8cfcf6c399c274ad9
3      7    True  consumer          Email    WI  5ff1e1b7cfcf6c399c274a5a
4      9    True  consumer          Email    WI  5ff1e1f1cfcf6c399c274b0b

                   created_date                    last_login
0 1970-01-01 00:26:49.687444800 1970-01-01 00:26:49.687537858
1 1970-01-01 00:26:49.687530554 1970-01-01 00:26:49.687530597
2 1970-01-01 00:26:49.687528354 1970-01-01 00:26:49.687528392
3 1970-01-01 00:26:49.687479626 1970-01-01 00:26:49.687479665
4 1970-01-01 00:26:49.687537564 1970-01-01 00:26:49.687537599

In [ ]:
# convert the date columns to datetime for users_df
users_df['createdDate'] = pd.to_datetime(users_df['createdDate'])
users_df['lastLogin'] = pd.to_datetime(users_df['lastLogin'])

# convert the date columns to datetime for receipts_df
receipts_df['createDate'] = pd.to_datetime(receipts_df['createDate'])
receipts_df['dateScanned'] = pd.to_datetime(receipts_df['dateScanned'])
receipts_df['finishedDate'] = pd.to_datetime(receipts_df['finishedDate'])
receipts_df['modifyDate'] = pd.to_datetime(receipts_df['modifyDate'])
receipts_df['pointsAwardedDate'] = pd.to_datetime(receipts_df['pointsAwardedDate'])
receipts_df['purchaseDate'] = pd.to_datetime(receipts_df['purchaseDate'])

In [61]:
import sqlite3

# Create a new SQLite database called fetch_rewards.db
conn = sqlite3.connect('fetch_rewards.db')

# Create a cursor object
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS users")
cursor.execute("""
    CREATE TABLE users (
        user_id TEXT PRIMARY KEY,
        active INTEGER,
        role TEXT,
        sign_up_source TEXT,
        created_date TIMESTAMP,
        last_login TIMESTAMP,
        state TEXT
    );
""")

# insert data into the users table from a DataFrame
cursor.execute("""INSERT INTO users (user_id, active, role, sign_up_source, created_date, last_login, state) VALUES (?, ?, ?, ?, ?, ?, ?)""",
               (users_df_cleaned['user_id'], users_df_cleaned['active'], users_df_cleaned['role'], users_df_cleaned['sign_up_source'], users_df_cleaned['created_date'], users_df_cleaned['last_login'], users_df_cleaned['state']))
conn.commit()
cursor.execute("SELECT * FROM users limit 10")
print(cursor.fetchall())
conn.close()

ProgrammingError: Error binding parameter 1: type 'Series' is not supported

In [62]:
users_df_cleaned.to_sql("users", conn, if_exists="append", index=False, method="multi")

212

In [64]:

cursor.execute("SELECT * FROM users limit 10")
print(cursor.fetchall())

[('5ff1e194b6a9d73a3a9f1052', 1, 'consumer', 'Email', '1970-01-01 00:26:49.687444', '1970-01-01 00:26:49.687537', 'WI'), ('5ff1e1eacfcf6c399c274ae6', 1, 'consumer', 'Email', '1970-01-01 00:26:49.687530', '1970-01-01 00:26:49.687530', 'WI'), ('5ff1e1e8cfcf6c399c274ad9', 1, 'consumer', 'Email', '1970-01-01 00:26:49.687528', '1970-01-01 00:26:49.687528', 'WI'), ('5ff1e1b7cfcf6c399c274a5a', 1, 'consumer', 'Email', '1970-01-01 00:26:49.687479', '1970-01-01 00:26:49.687479', 'WI'), ('5ff1e1f1cfcf6c399c274b0b', 1, 'consumer', 'Email', '1970-01-01 00:26:49.687537', '1970-01-01 00:26:49.687537', 'WI'), ('5ff1e1e4cfcf6c399c274ac3', 1, 'consumer', 'Email', '1970-01-01 00:26:49.687524', '1970-01-01 00:26:49.687524', 'WI'), ('5ff1e1b4cfcf6c399c274a54', 1, 'consumer', 'Email', '1970-01-01 00:26:49.687476', '1970-01-01 00:26:49.687476', 'WI'), ('5ff370c562fde912123a5e0e', 1, 'consumer', 'Email', '1970-01-01 00:26:49.789637', '1970-01-01 00:26:49.789850', 'WI'), ('5ff36d0362fde912123a5535', 1, 'consumer', 'Email', '1970-01-01 00:26:49.788675', '1970-01-01 00:26:49.788882', 'WI'), ('5ff36d83135e7011bcb864d6', 1, 'consumer', 'Email', '1970-01-01 00:26:49.788803', '1970-01-01 00:26:49.788803', 'WI')]

In [66]:
from sqlalchemy import create_engine
# Create a connection to the database
engine = create_engine("sqlite:///fetch_rewards.db")
# Write the DataFrame to the SQLite database
users_df_cleaned.to_sql("users", engine, if_exists="replace", index=False)

212

In [68]:
from sqlalchemy import text

with engine.connect() as connection:
        result = connection.execute(text("SELECT * FROM users"))
        print(result.fetchall())

[(1, 'consumer', 'Email', 'WI', '5ff1e194b6a9d73a3a9f1052', '1970-01-01 00:26:49.687444', '1970-01-01 00:26:49.687537'), (1, 'consumer', 'Email', 'WI', '5ff1e1eacfcf6c399c274ae6', '1970-01-01 00:26:49.687530', '1970-01-01 00:26:49.687530'), (1, 'consumer', 'Email', 'WI', '5ff1e1e8cfcf6c399c274ad9', '1970-01-01 00:26:49.687528', '1970-01-01 00:26:49.687528'), (1, 'consumer', 'Email', 'WI', '5ff1e1b7cfcf6c399c274a5a', '1970-01-01 00:26:49.687479', '1970-01-01 00:26:49.687479'), (1, 'consumer', 'Email', 'WI', '5ff1e1f1cfcf6c399c274b0b', '1970-01-01 00:26:49.687537', '1970-01-01 00:26:49.687537'), (1, 'consumer', 'Email', 'WI', '5ff1e1e4cfcf6c399c274ac3', '1970-01-01 00:26:49.687524', '1970-01-01 00:26:49.687524'), (1, 'consumer', 'Email', 'WI', '5ff1e1b4cfcf6c399c274a54', '1970-01-01 00:26:49.687476', '1970-01-01 00:26:49.687476'), (1, 'consumer', 'Email', 'WI', '5ff370c562fde912123a5e0e', '1970-01-01 00:26:49.789637', '1970-01-01 00:26:49.789850'), (1, 'consumer', 'Email', 'WI', '5ff36d0362fde912123a5535', '1970-01-01 00:26:49.788675', '1970-01-01 00:26:49.788882'), (1, 'consumer', 'Email', 'WI', '5ff36d83135e7011bcb864d6', '1970-01-01 00:26:49.788803', '1970-01-01 00:26:49.788803'), (1, 'consumer', 'Email', 'WI', '5ff36c8862fde912123a538a', '1970-01-01 00:26:49.788552', '1970-01-01 00:26:49.788553'), (1, 'consumer', 'Email', 'WI', '5ff36be7135e7011bcb856d3', '1970-01-01 00:26:49.788391', '1970-01-01 00:26:49.788592'), (1, 'consumer', 'Email', 'WI', '5ff36a3862fde912123a4460', '1970-01-01 00:26:49.787960', '1970-01-01 00:26:49.788185'), (1, 'consumer', 'Email', 'WI', '5ff36c8e135e7011bcb85da4', '1970-01-01 00:26:49.788558', '1970-01-01 00:26:49.788559'), (1, 'consumer', 'Email', 'WI', '5ff3711e62fde912123a620e', '1970-01-01 00:26:49.789726', '1970-01-01 00:26:49.789726'), (1, 'consumer', 'Email', 'WI', '5ff4ce33c3d63511e2a484b6', '1970-01-01 00:26:49.879091', '1970-01-01 00:26:49.879195'), (1, 'consumer', 'Email', 'WI', '5ff473e7c1e2d0121a9b2697', '1970-01-01 00:26:49.855975', '1970-01-01 00:26:49.855975'), (1, 'consumer', 'Email', 'WI', '5ff47392c3d63511e2a47881', '1970-01-01 00:26:49.855890', '1970-01-01 00:26:49.856133'), (1, 'consumer', 'Email', 'WI', '5ff4ce91c1e2d0121a9b3057', '1970-01-01 00:26:49.879185', '1970-01-01 00:26:49.879185'), (1, 'consumer', 'Email', 'WI', '5ff4ce3dc3d63511e2a484dc', '1970-01-01 00:26:49.879101', '1970-01-01 00:26:49.879101'), (1, 'consumer', 'Email', 'WI', '5ff4ce34c3d63511e2a484ba', '1970-01-01 00:26:49.879092', '1970-01-01 00:26:49.879092'), (1, 'consumer', 'Email', 'WI', '5ff4ce3ac1e2d0121a9b2fb3', '1970-01-01 00:26:49.879098', '1970-01-01 00:26:49.879098'), (1, 'consumer', 'Email', 'WI', '5ff5d15aeb7c7d12096d91a2', '1970-01-01 00:26:49.945434', '1970-01-01 00:26:49.945690'), (1, 'consumer', 'Email', 'WI', '5ff5d1a38f142f11dd1886ba', '1970-01-01 00:26:49.945507', '1970-01-01 00:26:49.945507'), (1, 'consumer', 'Email', 'WI', '5ff5d1d08f142f11dd18884c', '1970-01-01 00:26:49.945552', '1970-01-01 00:26:49.945552'), (1, 'consumer', 'Email', 'WI', '5ff7264e8f142f11dd189504', '1970-01-01 00:26:50.032718', '1970-01-01 00:26:50.032826'), (1, 'consumer', 'Email', 'WI', '5ff7401ceb7c7d31ca8a46e0', '1970-01-01 00:26:50.039324', '1970-01-01 00:26:50.039324'), (1, 'consumer', 'Email', 'WI', '5ff73bea8f142f3276c3e84a', '1970-01-01 00:26:50.038250', '1970-01-01 00:26:50.038250'), (1, 'consumer', 'Email', 'WI', '5ff74f3db3348b11c93361d1', '1970-01-01 00:26:50.043197', '1970-01-01 00:26:50.043423'), (1, 'consumer', 'Email', 'WI', '5ff73b90eb7c7d31ca8a452b', '1970-01-01 00:26:50.038160', '1970-01-01 00:26:50.038267'), (1, 'consumer', 'Email', 'WI', '5ff7930fb3348b11c93372a6', '1970-01-01 00:26:50.060559', '1970-01-01 00:26:50.060994'), (1, 'consumer', 'Email', 'WI', '5ff7268eeb7c7d12096da2a9', '1970-01-01 00:26:50.032782', '1970-01-01 00:26:50.032782'), (1, 'consumer', 'Email', 'WI', '5ff726a0eb7c7d12096da2db', '1970-01-01 00:26:50.032800', '1970-01-01 00:26:50.032800'), (1, 'consumer', 'Email', 'WI', '5ff793dd04929111f6e90c69', '1970-01-01 00:26:50.060765', '1970-01-01 00:26:50.060765'), (1, 'consumer', 'Email', 'WI', '5ff7949eb3348b11c93373d2', '1970-01-01 00:26:50.060958', '1970-01-01 00:26:50.060958'), (1, 'consumer', 'Email', 'WI', '5ff7268c8f142f11dd189579', '1970-01-01 00:26:50.032780', '1970-01-01 00:26:50.032780'), (1, 'consumer', 'Email', 'KY', '5ff616a68f142f11dd189163', '1970-01-01 00:26:49.963174', None), (1, 'consumer', 'Email', 'WI', '5ff79464b3348b11c933738b', '1970-01-01 00:26:50.060900', '1970-01-01 00:26:50.060900'), (1, 'consumer', 'Email', 'WI', '5ff8c241b3348b11c93379fc', '1970-01-01 00:26:50.138177', '1970-01-01 00:26:50.138177'), (1, 'consumer', 'Email', 'WI', '5ff8ce8504929111f6e913cb', '1970-01-01 00:26:50.141317', '1970-01-01 00:26:50.141399'), (1, 'consumer', 'Email', 'WI', '5ff873d1b3348b11c9337716', '1970-01-01 00:26:50.118097', '1970-01-01 00:26:50.118201'), (1, 'consumer', 'Email', 'WI', '5ff873ef04929111f6e910f0', '1970-01-01 00:26:50.118127', '1970-01-01 00:26:50.118127'), (1, 'consumer', 'Email', 'WI', '5ff8c4e8b3348b11c9337a11', '1970-01-01 00:26:50.138856', '1970-01-01 00:26:50.138857'), (1, 'consumer', 'Email', 'WI', '5ff8da28b3348b11c9337ac6', '1970-01-01 00:26:50.144296', '1970-01-01 00:26:50.144389'), (1, 'consumer', 'Email', 'WI', '5ff8da7db3348b11c9337b6a', '1970-01-01 00:26:50.144381', '1970-01-01 00:26:50.144381'), (1, 'consumer', 'Email', 'WI', '5ff873ddb3348b11c9337733', '1970-01-01 00:26:50.118109', '1970-01-01 00:26:50.118109'), (1, 'consumer', 'Email', 'WI', '5ff8a11db3348b11c93378aa', '1970-01-01 00:26:50.129693', '1970-01-01 00:26:50.129693'), (1, 'consumer', 'Email', 'WI', '5ff8d634b3348b11c9337aa4', '1970-01-01 00:26:50.143284', '1970-01-01 00:26:50.143284'), (1, 'consumer', 'Email', 'WI', '5ff8c330b3348b11c9337a04', '1970-01-01 00:26:50.138416', '1970-01-01 00:26:50.138416'), (1, 'consumer', 'Email', 'WI', '5ff8da7eb3348b11c9337b72', '1970-01-01 00:26:50.144382', '1970-01-01 00:26:50.144382'), (1, 'consumer', 'Email', 'WI', '5ffcb47d04929111f6e9256c', '1970-01-01 00:26:50.396797', '1970-01-01 00:26:50.396901'), (1, 'consumer', 'Email', 'WI', '5ffc8ff9b3348b11c9338896', '1970-01-01 00:26:50.387449', '1970-01-01 00:26:50.387449'), (1, 'consumer', 'Email', 'WI', '5ffc8f9704929111f6e922bf', '1970-01-01 00:26:50.387351', '1970-01-01 00:26:50.387456'), (1, 'consumer', 'Email', 'WI', '5ffc9001b3348b11c93388b6', '1970-01-01 00:26:50.387457', '1970-01-01 00:26:50.387457'), (1, 'consumer', 'Email', 'WI', '5ffcb4bc04929111f6e92608', '1970-01-01 00:26:50.396860', '1970-01-01 00:26:50.396860'), (1, 'consumer', 'Email', 'WI', '5ffc9d87b3348b11c9338920', '1970-01-01 00:26:50.390919', '1970-01-01 00:26:50.391013'), (1, 'consumer', 'Email', 'WI', '5ffc9d9f04929111f6e92456', '1970-01-01 00:26:50.390943', '1970-01-01 00:26:50.390943'), (1, 'consumer', 'Email', 'WI', '5ffca30604929111f6e92525', '1970-01-01 00:26:50.392326', '1970-01-01 00:26:50.392326'), (1, 'consumer', 'Email', 'WI', '5fff0f9804929101d0ab0697', '1970-01-01 00:26:50.551192', '1970-01-01 00:26:50.551192'), (1, 'consumer', 'Email', 'WI', '5fff0f4fb3348b03eb45abb0', '1970-01-01 00:26:50.551119', '1970-01-01 00:26:50.551322'), (1, 'consumer', 'Email', 'WI', '5fff4beedf9ace121f0c17ea', '1970-01-01 00:26:50.566638', '1970-01-01 00:26:50.566872'), (1, 'consumer', 'Email', 'AL', '5ffe115404929101d0aaebb2', '1970-01-01 00:26:50.486100', None), (1, 'consumer', 'Email', 'WI', '5fff55dabd4dff11dda8f5f1', '1970-01-01 00:26:50.569178', '1970-01-01 00:26:50.569406'), (1, 'consumer', 'Email', 'WI', '5fff26bab3348b03eb45bb22', '1970-01-01 00:26:50.557114', '1970-01-01 00:26:50.557114'), (1, 'consumer', 'Email', 'WI', '5fff4c7461ffa811fdb0854c', '1970-01-01 00:26:50.566772', '1970-01-01 00:26:50.566773'), (1, 'consumer', 'Email', 'WI', '5fff26bfb3348b03eb45bb32', '1970-01-01 00:26:50.557119', '1970-01-01 00:26:50.557119'), (1, 'consumer', 'Email', 'WI', '5fff26f2b3348b03eb45bbb9', '1970-01-01 00:26:50.557170', '1970-01-01 00:26:50.557170'), (1, 'consumer', 'Email', 'WI', '6000d4bae2571211db395b9f', '1970-01-01 00:26:50.667194', '1970-01-01 00:26:50.667194'), (1, 'consumer', 'Email', 'WI', '600056a3f7e5b011fce897b0', '1970-01-01 00:26:50.634915', '1970-01-01 00:26:50.635030'), (1, 'consumer', 'Email', 'WI', '6000d46cfb296c121a81b20c', '1970-01-01 00:26:50.667116', '1970-01-01 00:26:50.667232'), (1, 'consumer', 'Email', 'WI', '6000b7aefb296c121a8198b1', '1970-01-01 00:26:50.659758', '1970-01-01 00:26:50.660002'), (1, 'consumer', 'Email', 'WI', '60005709bd4dff11dda90ac1', '1970-01-01 00:26:50.635017', '1970-01-01 00:26:50.635018'), (1, 'consumer', 'Google', 'WI', '5e27526d0bdb6a138c32b556', '1970-01-01 00:26:19.635309', None), (1, 'consumer', 'Email', 'WI', '6000d4abe2571211db395b5c', '1970-01-01 00:26:50.667179', '1970-01-01 00:26:50.667179'), (1, 'consumer', 'Email', 'WI', '600056d6bd4dff11dda90a3f', '1970-01-01 00:26:50.634966', '1970-01-01 00:26:50.634966'), (1, 'consumer', 'Email', 'WI', '60005704bd4dff11dda90a9d', '1970-01-01 00:26:50.635012', '1970-01-01 00:26:50.635012'), (1, 'consumer', 'Email', 'WI', '6002475cfb296c121a81b98d', '1970-01-01 00:26:50.762076', None), (1, 'consumer', 'Email', 'WI', '60024f24e257124ec6b99a13', '1970-01-01 00:26:50.764069', None), (1, 'consumer', 'Email', 'WI', '60037329e257124ec6b99eeb', '1970-01-01 00:26:50.838825', None), (1, 'consumer', 'Email', 'AL', '6000b75bbe5fc96dfee1d4d3', '1970-01-01 00:26:50.659675', None), (1, 'consumer', 'Email', 'WI', '6002541ae257124ec6b99a3a', '1970-01-01 00:26:50.765338', None), (1, 'consumer', 'Email', 'WI', '600258dafb296c4ef805d9b7', '1970-01-01 00:26:50.766554', None), (1, 'consumer', 'Email', 'WI', '60025c65fb296c4ef805d9e6', '1970-01-01 00:26:50.767461', None), (1, 'consumer', 'Email', 'WI', '60037005e257124ec6b99ec2', '1970-01-01 00:26:50.838021', None), (1, 'consumer', 'Email', 'CO', '60023de5fb296c121a81b955', '1970-01-01 00:26:50.759653', None), (1, 'consumer', 'Email', 'WI', '60049cdce257124ec6b9a353', '1970-01-01 00:26:50.915036', None), (1, 'consumer', 'Email', 'WI', '60025fe0e257124ec6b99a87', '1970-01-01 00:26:50.768353', None), (1, 'consumer', 'Email', 'WI', '600498c4e257124ec6b9a331', '1970-01-01 00:26:50.913989', None), (1, 'consumer', 'Email', 'WI', '6004a5d3fb296c4ef805e256', '1970-01-01 00:26:50.917331', None), (1, 'consumer', 'Email', 'WI', '60037a94fb296c4ef805ddbe', '1970-01-01 00:26:50.840725', None), (1, 'consumer', 'Email', 'WI', '600495c3fb296c4ef805e1fc', '1970-01-01 00:26:50.913219', None), (1, 'consumer', 'Email', 'WI', '6004a965e257124ec6b9a39f', '1970-01-01 00:26:50.918245', None), (1, 'consumer', 'Email', 'WI', '6007464b6e64691717e8c1f0', '1970-01-01 00:26:51.089483', '1970-01-01 00:26:51.089708'), (1, 'consumer', 'Email', 'WI', '600741d06e6469120a787853', '1970-01-01 00:26:51.088337', '1970-01-01 00:26:51.088743'), (1, 'consumer', 'Email', 'WI', '600748196e64691717e8d4f0', '1970-01-01 00:26:51.089945', '1970-01-01 00:26:51.090162'), (1, 'consumer', 'Email', 'WI', '600746fd6e64691717e8cfb5', '1970-01-01 00:26:51.089661', '1970-01-01 00:26:51.089661'), (1, 'consumer', 'Email', 'WI', '60074b49325c8a1794623876', '1970-01-01 00:26:51.090761', '1970-01-01 00:26:51.090969'), (1, 'consumer', 'Email', 'WI', '60074b996e64691717e8f11a', '1970-01-01 00:26:51.090841', '1970-01-01 00:26:51.090842'), (1, 'consumer', 'Email', 'WI', '60074246325c8a12289e22a0', '1970-01-01 00:26:51.088455', '1970-01-01 00:26:51.088455'), (1, 'consumer', 'Email', 'WI', '60074883325c8a1794622a12', '1970-01-01 00:26:51.090051', '1970-01-01 00:26:51.090051'), (1, 'consumer', 'Email', 'AL', '6006f786fb296c7f688530f8', '1970-01-01 00:26:51.069318', None), (1, 'consumer', 'Email', 'WI', '60088d55633aab121bb8e41a', '1970-01-01 00:26:51.173205', '1970-01-01 00:26:51.173274'), (1, 'consumer', 'Email', 'WI', '6008893b633aab121bb8e0a9', '1970-01-01 00:26:51.172155', '1970-01-01 00:26:51.172233'), (1, 'consumer', 'Email', 'WI', '60083a1e325c8a17946255de', '1970-01-01 00:26:51.151902', '1970-01-01 00:26:51.152104'), (1, 'consumer', 'Email', 'WI', '6008896c633aab121bb8e11d', '1970-01-01 00:26:51.172204', None), (1, 'consumer', 'Email', 'WI', '60086a09b6310511daa4e1e9', '1970-01-01 00:26:51.164169', '1970-01-01 00:26:51.164170'), (1, 'consumer', 'Email', 'WI', '60088e5d633aab121bb8e5cf', '1970-01-01 00:26:51.173469', '1970-01-01 00:26:51.173470'), (1, 'consumer', 'Email', 'WI', '60085b3dbe5fc90ee6a67b11', '1970-01-01 00:26:51.160381', '1970-01-01 00:26:51.160614'), (1, 'consumer', 'Email', 'WI', '60088e44b6310511daa4ef80', '1970-01-01 00:26:51.173444', '1970-01-01 00:26:51.173515'), (1, 'consumer', 'Email', 'WI', '60088d84633aab121bb8e4a6', '1970-01-01 00:26:51.173252', '1970-01-01 00:26:51.173252'), (1, 'consumer', 'Email', 'WI', '6008873eb6310511daa4e8eb', '1970-01-01 00:26:51.171646', '1970-01-01 00:26:51.171778'), (1, 'consumer', 'Email', 'WI', '60086978633aab121bb8c895', '1970-01-01 00:26:51.164024', '1970-01-01 00:26:51.164251'), (1, 'consumer', 'Email', 'WI', '60088a25b6310511daa4ec42', '1970-01-01 00:26:51.172389', '1970-01-01 00:26:51.172462'), (0, 'consumer', 'Email', 'WI', '6008622ebe5fc9247bab4eb9', '1970-01-01 00:26:51.162158', '1970-01-01 00:26:51.162158'), (1, 'consumer', 'Email', 'WI', '6008897ab6310511daa4ebdc', '1970-01-01 00:26:51.172218', '1970-01-01 00:26:51.172218'), (1, 'consumer', 'Email', 'WI', '60088a46b6310511daa4ec97', '1970-01-01 00:26:51.172422', '1970-01-01 00:26:51.172422'), (1, 'consumer', 'Email', 'WI', '600987d77d983a11f63cfa92', '1970-01-01 00:26:51.237335', '1970-01-01 00:26:51.237561'), (1, 'consumer', 'Email', 'IL', '6008f02fb6310511daa4f314', '1970-01-01 00:26:51.198511', None), (1, 'consumer', 'Email', 'WI', '600988557d983a11f63d08ef', '1970-01-01 00:26:51.237461', '1970-01-01 00:26:51.237461'), (1, 'consumer', 'Email', 'WI', '6009885c50b33111fd61eee9', '1970-01-01 00:26:51.237468', '1970-01-01 00:26:51.237468'), (1, 'consumer', 'Email', 'WI', '6009e60450b3311194385009', '1970-01-01 00:26:51.261445', None), (1, 'consumer', 'Email', 'WI', '6008d447b6310511daa4f281', '1970-01-01 00:26:51.191367', None), (1, 'consumer', 'Email', 'WI', '60099c1450b33111fd61f702', '1970-01-01 00:26:51.242516', None), (1, 'consumer', 'Email', 'IL', '6008e9cdb6310511daa4f2e4', '1970-01-01 00:26:51.196877', None), (1, 'consumer', 'Email', 'WI', '600a03e17d983a124e9adb0f', '1970-01-01 00:26:51.269089', None), (1, 'consumer', 'Email', 'WI', '600992d17d983a11f63d11ad', '1970-01-01 00:26:51.240145', None), (1, 'consumer', 'Email', 'WI', '600b477e7d983a124e9ae061', '1970-01-01 00:26:51.351934', None), (1, 'consumer', 'Email', 'WI', '600f008f4329897eac237bd8', '1970-01-01 00:26:51.595919', '1970-01-01 00:26:51.596151'), (1, 'consumer', 'Email', 'WI', '600ed4815edb7811cde6b50b', '1970-01-01 00:26:51.584641', '1970-01-01 00:26:51.584642'), (1, 'consumer', 'Email', 'WI', '600f41b2bd196811e68ea219', '1970-01-01 00:26:51.612595', '1970-01-01 00:26:51.612989'), (1, 'consumer', 'Email', 'WI', '600f20c15edb787dce060911', '1970-01-01 00:26:51.604161', None), (1, 'consumer', 'Email', 'WI', '600f47f06fd0dc1768a34a12', '1970-01-01 00:26:51.614192', '1970-01-01 00:26:51.614413'), (1, 'consumer', 'Email', 'WI', '600ed42e43298911ce45d1fa', '1970-01-01 00:26:51.584559', '1970-01-01 00:26:51.584964'), (1, 'consumer', 'Email', 'WI', '600eea525edb7811cde6c81c', '1970-01-01 00:26:51.590227', None), (1, 'consumer', 'Email', 'WI', '600ed48a5edb7811cde6b549', '1970-01-01 00:26:51.584650', '1970-01-01 00:26:51.584651'), (1, 'consumer', 'Email', 'WI', '600fb1ac73c60b12049027bb', '1970-01-01 00:26:51.641260', '1970-01-01 00:26:51.641483'), (1, 'consumer', 'Email', 'WI', '600fb1ec73c60b1204902af4', '1970-01-01 00:26:51.641324', '1970-01-01 00:26:51.641324'), (1, 'consumer', 'Email', 'WI', '600fb1e4a4b74c120bd18777', '1970-01-01 00:26:51.641316', '1970-01-01 00:26:51.641317'), (1, 'consumer', 'Email', 'WI', '6011f33173c60b1804ce1102', '1970-01-01 00:26:51.789105', '1970-01-01 00:26:51.789106'), (1, 'consumer', 'Email', 'WI', '6011f43ba4b74c18d3a8ca01', '1970-01-01 00:26:51.789371', '1970-01-01 00:26:51.789372'), (1, 'consumer', 'Email', 'WI', '6011f31ea4b74c18d3a8c476', '1970-01-01 00:26:51.789086', '1970-01-01 00:26:51.789371'), (1, 'consumer', 'Email', 'WI', '6011f42773c60b1804ce1607', '1970-01-01 00:26:51.789351', '1970-01-01 00:26:51.789352'), (1, 'consumer', 'Email', 'WI', '60118bcfa4b74c18d3a8c0d7', '1970-01-01 00:26:51.762639', '1970-01-01 00:26:51.762761'), (1, 'consumer', 'Email', 'WI', '6010be65a4b74c120bd19edc', '1970-01-01 00:26:51.710053', '1970-01-01 00:26:51.710053'), (1, 'consumer', 'Email', 'WI', '6010bddaa4b74c120bd19dfb', '1970-01-01 00:26:51.709914', '1970-01-01 00:26:51.710065'), (1, 'consumer', 'Email', 'WI', '60118c0fa4b74c18d3a8c151', '1970-01-01 00:26:51.762703', '1970-01-01 00:26:51.762703'), (1, 'consumer', 'Email', 'WI', '6010be6673c60b12049040ef', '1970-01-01 00:26:51.710054', '1970-01-01 00:26:51.710055'), (1, 'consumer', 'Email', 'WI', '6010be6173c60b12049040d7', '1970-01-01 00:26:51.710049', '1970-01-01 00:26:51.710049'), (1, 'consumer', 'Email', 'WI', '60132acb73c60b3ca7f3ba32', '1970-01-01 00:26:51.868875', '1970-01-01 00:26:51.869101'), (1, 'consumer', 'Email', 'WI', '600f00d05edb787dce05fb84', '1970-01-01 00:26:51.595984', None), (1, 'consumer', 'Email', 'WI', '60132b85a4b74c3cbc516295', '1970-01-01 00:26:51.869061', '1970-01-01 00:26:51.869061'), (1, 'consumer', 'Email', 'WI', '60132b8b73c60b3ca7f3baee', '1970-01-01 00:26:51.869067', '1970-01-01 00:26:51.869067'), (1, 'consumer', 'Email', 'WI', '600f19914329897eac238fef', '1970-01-01 00:26:51.602321', None), (1, 'consumer', 'Email', 'WI', '6014558767804a1228b20d00', '1970-01-01 00:26:51.945351', '1970-01-01 00:26:51.945351'), (1, 'consumer', 'Email', 'WI', '601465c567804a1228b20f89', '1970-01-01 00:26:51.949509', '1970-01-01 00:26:51.949509'), (1, 'consumer', 'Email', 'WI', '60145a3c84231211ce796c5d', '1970-01-01 00:26:51.946556', '1970-01-01 00:26:51.946716'), (1, 'consumer', 'Email', 'WI', '6014499c67804a1228b1f5b0', '1970-01-01 00:26:51.942300', '1970-01-01 00:26:51.943201'), (1, 'consumer', 'Email', 'WI', '600f35015edb782098e2ac1b', '1970-01-01 00:26:51.609346', None), (1, 'consumer', 'Email', 'WI', '60147001c8b50e11d8453c36', '1970-01-01 00:26:51.952129', '1970-01-01 00:26:51.952129'), (1, 'consumer', 'Email', 'WI', '60145a5584231211ce796cac', '1970-01-01 00:26:51.946581', '1970-01-01 00:26:51.946581'), (1, 'consumer', 'Email', 'WI', '6014319173c60b3ca7f3bf01', '1970-01-01 00:26:51.936145', '1970-01-01 00:26:51.936328'), (1, 'consumer', 'Email', 'WI', '6014558467804a1228b20cf0', '1970-01-01 00:26:51.945348', '1970-01-01 00:26:51.945348'), (1, 'consumer', 'Email', 'WI', '6014485b84231211ce793d79', '1970-01-01 00:26:51.941979', '1970-01-01 00:26:51.942191'), (1, 'consumer', 'Email', 'WI', '601431c173c60b3ca7f3bf63', '1970-01-01 00:26:51.936193', '1970-01-01 00:26:51.936193'), (1, 'consumer', 'Email', 'WI', '601465a884231211ce796db3', '1970-01-01 00:26:51.949480', '1970-01-01 00:26:51.949480'), (1, 'consumer', 'Email', None, '60145ff384231211ce796d51', '1970-01-01 00:26:51.948019', None), (1, 'consumer', 'Email', 'WI', '60146f2ac8b50e11d8452661', '1970-01-01 00:26:51.951914', '1970-01-01 00:26:51.952148'), (1, 'consumer', 'Email', 'WI', '6014658e67804a1228b20ef4', '1970-01-01 00:26:51.949454', '1970-01-01 00:26:51.949567'), (1, 'consumer', 'Email', 'WI', '601442ce67804a1228b1dc41', '1970-01-01 00:26:51.940558', '1970-01-01 00:26:51.940734'), (1, 'consumer', 'Email', 'WI', '601465a584231211ce796da5', '1970-01-01 00:26:51.949477', '1970-01-01 00:26:51.949477'), (1, 'consumer', 'Email', 'OH', '60147d2ac8b50e11d8453f53', '1970-01-01 00:26:51.955498', None), (1, 'consumer', 'Email', 'WI', '601890a99a1b091205b61ced', '1970-01-01 00:26:52.222633', '1970-01-01 00:26:52.222633'), (1, 'consumer', 'Email', 'WI', '60183090c8b50e11d84549c0', '1970-01-01 00:26:52.198032', '1970-01-01 00:26:52.198112'), (1, 'consumer', 'Email', 'WI', '60182f4ac8b50e11d8454946', '1970-01-01 00:26:52.197706', '1970-01-01 0